@import "nav.css";
@import "footer.css";

#post-content {
  padding: 0 30px 20px 30px;
}

.basic-info {
  text-align: center;
}

.basic-info h1 {
  font-size: 3.5em;
}

.post-info {
  font-size: 1.2em;
  text-align: center;
}

.author-info {
  width: 90%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.author-info-img {
  padding-left: 50px;
}

.author-info-text {
  font-size: 1.2em;
}

.blog-article {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "image quote"
    "main main";
  align-items: center;
  justify-content: center;
}

.blog-article img {
  grid-area: image;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.blog-article blockquote {
  grid-area: quote;
  font-style: italic;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 10px 30px;
  font-size: 2.5em;
}

.blog-article p {
  text-indent: 80px;
  padding-left: 20px;
  padding-right: 20px;
  grid-area: main;
  font-size: 1.5em;
}

.social-sharing {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

@media (max-width: 900px) {
  .blog-article {
    display: flex;
    flex-direction: column;
  }
}
