.post {
  margin: 10px;
  padding: 10px;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-author {
  font-size: 20px;
}

.post-date {
  font-size: 19px;
  margin-bottom: 10px;
}

.post-description {
  font-size: 18px;
}

.post-read-more {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
}

#blog-post-link {
  text-decoration: none;
  color: white;
}
